html {
  margin: 0 0 80px 0;
  box-sizing: border-box;
}

*, *: before, *:after{
  box-sizing: inherit;
}
body {
  background: #010325;
}
nav {
  margin: 10px;
  padding: 16px;
  border: solid  #05215e;
  border-radius: 5px;
  background:  #78899c;
}
section {
  background: #eaebe4;
}
.navigation__link {
  color: #080808;
  display: inline-block;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.main-heading {
  color: rgb(49, 6, 32);
}
.main-heading main-heading--js {
  background: #eaebe4;
}
.secondary-heading {
  color: #101733;
}
.special-heading {
  color: #06153f;
}
p {
  color: #080808;
}
#top {
  background-color: #f0edee;
}
#notatki {
  color: #2e2203
}
.week-summary {
  width: 1000px;
  height: 200px;
  padding: 16px;
  border: 5px;
  border-style: solid;
  border-color: #531911;
  margin-bottom: 16px;
  box-sizing: border-box;
  overflow: auto;
}
.week-summary--special {
  border: 5px solid #531911;
}
.week-summary__title {
  color: #2b2806;
}
.about-the-beginning__picture {
  border-radius: 50%;
  width: 50%;
  padding: 5% 25%
}
.list {
  list-style: decimal;
}
.footer {
  background: #78899c;
  color: #080808;
  max-width: 1000px;
  margin: 0 auto;
  border: 15px;
}

